<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="font-family: Cambria">
      Hi!!! <span style="font-weight: 700"><%- name %></span> <br /><br />
      A Person from <span style="font-weight: 700"><%- location %></span
      ><br /><br />
      Who goes by the name <span style="font-weight: 700"><%- friend %></span
      ><br /><br />
      Wants to be your friend on
      <span style="font-weight: 700"
        ><span style="color: rgb(0, 201, 0)">Socio</span>Lify</span
      >
    </div>
    <br />
    <button
      style="
        padding: 10px 15px;
        background-color: rgb(4, 134, 4);
        border: none;
        border-radius: 10px;
        width: 100px;
        text-transform: capitalize;
      "
    >
      <a href="<%= url %>" style="text-decoration: none; color: white"
        >accept</a
      >
    </button>
    <!-- <button
      style="
        padding: 10px 15px;
        background-color: rgb(255, 89, 89);
        border: none;
        border-radius: 10px;
        width: 100px;
        text-transform: capitalize;
      "
    >
      <a href="<%= url1 %>" style="text-decoration: none; color: white">decline</a> -->
    </button>
    <p>Please ignore if you don't wanna be friends</p>
  </body>
</html>
